<section>
  <md-card>
    <md-card-title>
      <section>
        <md-card-actions layout="row">
          <md-button md-no-ink="" class="md-raised md-primary button-wide" ng-click="changeView('login')">
            Consultorio
          </md-button>
          <md-button md-no-ink="" class="md-raised md-primary button-wide" ng-click="changeView('register')">
            Farmacia
          </md-button>
        </md-card-actions>
      </section>
    </md-card-title>
    <md-divider></md-divider>
    <md-card-content layout="row" layout-align="space-between">
      <div id="map_canvas" >
        <ui-gmap-google-map center="map.center" zoom="map.zoom" bounds="map.bounds">
          <ui-gmap-markers models="markers"coords="'self'" icon="'icon'">
          </ui-gmap-markers>
        </ui-gmap-google-map>
       </div>
    </md-card-content>
  </md-card>
</section>
